/* Login Page UI */
.img {
  width: 300px;
  height: 300px;
  background-image: url('/src/assets/newlogo.webp');
  background-position: center;
  background-size: contain;
  justify-content: center;
}

.img1, .img2, .img3, .img4, .img5, .img6 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img1{
  width:80px;
  height:80px;
  background-image: url('/src/assets/spot11.webp');
  position:absolute;
  top:40px;
  left:20px;
}

.img2{
  width:80px;
  height:80px;
  background-image: url('/src/assets/spot22.webp');
  position:absolute;
  top:20px;
  right:50px;
  transform: rotate(-25deg);
}

.img3{
  width:70px;
  height:70px;
  background-image: url('/src/assets/spot33.webp');
  position:absolute;
  bottom:48px;
  left:20px;
  transform: rotate(-55deg);
}

.img4{
  width:80px;
  height:80px;
  background-image: url('/src/assets/spot44.webp');
  position:absolute;
  bottom:50px;
  right:100px;
}

.img44{
  width:80px;
  height:80px;
  background-image: url('/src/assets/spot44.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position:absolute;
  top:70px;
  right:150px;
}

.img5{
  width:70px;
  height:70px;
  background-image: url('/src/assets/spot55.webp');
  position:absolute;
  top:420px;
  left:15px;
}

.img6{
  width:75px;
  height:75px;
  background-image: url('/src/assets/spot66.webp');
  position:absolute;
  top:400px;
  right:30px;
}

.login-page {
  background-color: #FFEFDB;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-card {
  width: 400px;
  padding: 50px;
  background: #FFEFDB;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.login-card input {
  width: 100%;
  padding: 10px;
  color: #654321;
  font-size: 16px;
}

.login-card .button1 {
  width: 100%;
  padding: 10px;
  background-color:#654321;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.login-card .button2 {
  width: 100%;
  padding: 8px;
  color: white;
  background-color:rosybrown;
  border: none;
  border-radius: 6px;
  font-size: 12px;
}
